@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button:hover{
  background: linear-gradient(to right, rgb(255, 0, 76) ,hsl(4, 90%, 63%));
}