@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

input::-webkit-inner-spin-button{
    display: none;
}

